boto==2.49.0
Flask==0.10.1
Flask-Bootstrap==3.3.0.1
Flask-SQLAlchemy==2.0
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
Naked==0.1.31
numpy==1.21.5
psycopg2==2.9
pycrypto==2.6.1
PyYAML==5.4
requests==2.9.1
shellescape==3.4.1
SQLAlchemy==0.9.8
Werkzeug==0.10.1
boto3==1.9.220
xmltodict==0.12.0
