{% extends "base.html" %}

    {% block training_view %}
        <!-- training view -->
        <div class="container hidden" id="training">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="text-center">Training</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">﻿
                    {{ test.training_instructions_html | safe }}
                </div>
            </div>
            <hr />

            {% block training_view_examples %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">﻿<b>Example sounds and their expected ratings</b></div>
                </div>
                {% for ref, path in test.reference_example_dict.iteritems() %}
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4 text-right">{{ ref }}</div>
                        <div class="col-md-1">
                            <button class="btn btn-default play-btn" id="playTraining{{ ref }}Btn" onclick="evaluationTask.playAudio('Training{{ ref }}');">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% for path in test.quality_example_dict['Low'] %}
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4 text-right">Example that should be rated <span style='color: red'>lower</span> than average</div>
                        <div class="col-md-1">
                            <button class="btn btn-default play-btn" id="playTrainingLow{{ loop.index0 }}Btn" onclick="evaluationTask.playAudio('TrainingLow{{ loop.index0 }}');">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
                {% for path in test.quality_example_dict['High'] %}
                    <div class="row">
                        <div class="col-md-5 col-md-offset-4 text-right">Example that should be rated <span style='color: green'>higher</span> than average</div>
                        <div class="col-md-1">
                            <button class="btn btn-default play-btn" id="playTrainingHigh{{ loop.index0 }}Btn" onclick="evaluationTask.playAudio('TrainingHigh{{ loop.index0 }}');">
                                <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            {% endblock training_view_examples %}

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="pager">
                        <li class="next">
                            <a href="#" id="trainingNextBtn" onclick="evaluationTask.startEvaluation();">Proceed to evaluation &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock training_view %}
