{% extends "base.html" %}
{% block title %}Begin - CAQE{% endblock %}

{% block body_content %}
{{ super() }}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      	<h1 class="text-center">Audio Quality Evaluation</h1>
    </div>
</div>
<hr>
<div class="row">
	<div class="col-md-8 col-md-offset-2">﻿
		<p>A sound separation system aims to extract a clean recording of a single target sound (e.g. the vocalist) from a recording containing a mixture of several sounds (e.g. the rest of the band). This listening test aims to rate the quality of recordings produced by different sound separation systems. Due to imperfections of each sound separation system, the output recording (e.g. vocals extracted from the mixture) may include several types of degradations compared to the clean target sound&mdash;it might be a little distorted, you still might be able to hear the background (a little or a lot), it might have strange artifacts.</p>

		<p>During the test, you will be asked to assess the <quality>. The test will have three parts: 1) a short hearing test phase, 2) a training phase and 3) an evaluation phase. During the training phase, you will be trained on example ratings of quality. During the evaluation phase, you will listen to several of pairs of recordings and choose which recording in each pair has higher <quality>.</p>

		<p><b>You may receive up to a $0.25 bonus based on the consistency of your ratings.</b></p>

		<p>The expected total duration of the test is 5-7 minutes.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<button type="button" class="btn btn-lg btn-default center-block" onclick="window.open('{{ link }}','_blank','scrollbars=1, width={{ width }}, height={{ height }}, location=0, menubar=0')">Click here to begin</button>
    </div>
</div>
{% endblock body_content %}