{% extends "base.html" %}
{% block title %}Bonus - CAQE{% endblock %}

{% block scripts %}
    <script type="text/javascript">
    /* <![CDATA[ */
        window.onload=function() {
            if ({{ preview }})
            {
                document.getElementById("submit").disabled = true
            }
        };
    /* ]]> */
    </script>

{% endblock scripts %}

{% block body_content %}
    <div class="jumbotron">
        <p class="lead">This is just a bogus assignment that allows us to attach a bonus to something. Click the 'submit' button below to finish the HIT.</p>
        <p class="lead">
            <form class="form-horizontal" role="form" method="post" action="{{ turk_submit_to }}" id="submit_turk" name="submit_turk">
                <input type="hidden" name="assignmentId" value="{{ assignment_id }}">
                <input type="hidden" name="workerId" value="{{ worker_id }}">
                <input type="hidden" name="hitId" value="{{ hit_id }}">
                <button type="submit" class="btn btn-default btn-lg" id="submit">Submit</button>
            </form>
        </p>
    </div>
{% endblock body_content %}