{% extends "base.html" %}
{% block title %}Hearing Screening Test - CAQE{% endblock %}

{% block body_content %}
    <p><b>Please follow these instructions:</b></p>
    <p class="instr"><span style='color: red'><b>DO NOT ADJUST THE VOLUME</b></span>. It should be the same as
    during the evaluation phase. Listen to each of the recordings below and count the number of tones that you hear in
    the recording. Note that you may not be able to hear any tones in a recording. There is not a right or wrong
    answer!</p>
    <form class="form cmxform" role="form" name="hearing_response_estimation" action="/hearing_response_estimation" method="post">
        {% for idx in range(hearing_response_files|count) %}
            <hr />
            <p class="instr">Listen to the <strong>entire</strong> audio file below and count how many tones you hear:
                <audio controls preload="auto" src="{{ hearing_response_files[idx] }}">Your browser does not support the audio element.</audio></p>
            <p class="instr">How many tones did you hear?
                <select class="form-control" name="fileID{{ hearing_response_ids[idx] }}" required>
                    <option value=""></option>
                    {% for k in range(n_options) %}
                    <option value="{{ k }}">{{ k }}</option>
                    {% endfor %}
                </select>
            </p>
        {% endfor %}
        <button type="submit" class="btn btn-default">Next</button>
    </form>


{% endblock body_content %}