{% extends "base.html" %}
{% block title %}Hearing Screening Test - CAQE{% endblock %}

{% block body_content %}
    <p>Before beginning the primary task, you must complete a quick hearing test. Please follow these instructions:</p>
    <form class="form" role="form" name="hearing_test" action="/hearing_test" method="post">
        <p class="instr">Find a quiet place without much background noise.</p>
        <hr>
        <p class="instr">If you have headphones, put them on.</p>
        <hr>
        <p class="instr">Listen to the following audio file. While you are listening, adjust the level of your
            speakers/headphones to a comfortable volume. Once it is set, do not change the volume.
            <audio controls preload="auto" src="/hearing_test/audio/0.wav">Your browser does not support the audio element.</audio></p>
        <hr>
        <p class="instr">Listen to the <strong>entire</strong> audio file below and count how many tones you hear: <audio controls preload="auto" src="/hearing_test/audio/1.wav">Your browser does not support the audio element.</audio></p>
        <p class="instr">How many tones did you hear?
            <select class="form-control" name="audiofile1_tones">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </p>
        <hr>
        <p class="instr">Listen to the <strong>entire</strong> audio file below and count how many tones you hear: <audio controls preload="auto" src="/hearing_test/audio/2.wav">Your browser does not support the audio element.</audio></p>
        <p class="instr">How many tones did you hear?
            <select class="form-control" name="audiofile2_tones">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </p>
        <button type="submit" class="btn btn-default">Next</button>
    </form>


{% endblock body_content %}