{% extends "evaluation_base.html" %}

{% block evaluation_view %}
    <!-- evaluation view -->
    <div class="container hidden" id="evaluation">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">{{ test.test_title | safe }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">﻿
                {{ test.evaluation_instructions_html | safe }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well" id="pairwise-well">
                    <div class="row text-center">
                        <p>(<span id="currentComparisonLbl">0</span> / <span id="totalComparisonsLbl">0</span>)</p>
                    </div>
                    {% for reference in test.references %}
                        <div class="row">
                            <div class="col-md-3">
                                <button type="button"
                                        class="btn btn-default btn-block play-btn"
                                        id="playReference{{ reference[0] }}Btn"
                                        onclick="evaluationTask.playReference('{{ reference[0] }}');">
                                    <span class="glyphicon glyphicon-play"></span> {{ reference[0] }}
                                </button>
                            </div>
                            <div class="col-md-9">{{ reference[1] }}</div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-md-3">
                            <button type="button"
                                    class="btn btn-default btn-block"
                                    id="stopBtn"
                                    onclick="evaluationTask.stopAllAudio();">
                                <span class="glyphicon glyphicon-stop"></span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="button"
                                    class="btn btn-default play-btn pairwise-stimulus-play-btn btn-block"
                                    id="playStimulus0Btn"
                                    onclick="evaluationTask.playStimulus(0);">
                                ﻿<span style="font-size: 12pt;">play/select</span><br />A
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button type="button"
                                    class="btn btn-default play-btn pairwise-stimulus-play-btn btn-block"
                                    id="playStimulus1Btn"
                                    onclick="evaluationTask.playStimulus(1);">
                                ﻿<span style="font-size: 12pt;">play/select</span><br />B
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <span class="pairwiseStimulusLabel" id="playStimulus0BtnLabel">&nbsp;</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <span class="pairwiseStimulusLabel" id="playStimulus1BtnLabel">&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <progress id="playback-position" value="0" max="100"></progress>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <ul class="pager">
                    <li class="next">
                        <a href="#pairwise-well" id="evaluationNextBtn" onclick="evaluationTask.nextComparison();">Next trial &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock evaluation_view %}

{% block scripts %}
    <!-- test config variables -->
    <script type="text/javascript">
        // configure the test here
        var TEST_COMPLETE_REDIRECT_URL = '{{ test_complete_redirect_url }}';
        var SUBMISSION_URL = '{{ submission_url }}';
        var PARTICIPANT_ID = '{{ participant_id }}';

        var config = {
            "testTimeoutSec": {{ config.TEST_TIMEOUT_SEC }},
            "references": {
                {% for reference in config.REFERENCES %}
                    "{{ reference[0] }}": "{{ reference[1] }}",
                {% endfor %}
            },
            "requireListeningToAllTrainingSounds": {{ ['false','true'][config.REQUIRE_LISTENING_TO_ALL_TRAINING_SOUNDS] }},
            "referenceExampleDict": {
                {% for key, value in test.reference_example_dict.iteritems() %}
                    "{{ key }}": "{{ value }}",
                {% endfor %}
            },
            "qualityExampleDict": {
                {% for key, value in test.quality_example_dict.iteritems() %}
                    "{{ key }}":
                            [
                                {% for v in value %}
                                    "{{ v }}",
                                {% endfor %}
                            ],
                {% endfor %}
            },
            "conditions": [
                {% for condition in conditions %}
                    {
                        "conditionID": "{{ condition.id }}",
                        "referenceFiles": {
                            {% for key, value in condition.reference_files %}
                                "{{ key }}": "{{ value }}",
                            {% endfor %}
                        },
                        "stimulusFiles": {
                            {% for key, value in condition.stimulus_files %}
                                "{{ key }}": "{{ value }}",
                            {% endfor %}
                        },
                        "comparisonPairs": [
                            {% for a, b in condition.comparison_pairs %}
                                ["{{ a }}", "{{ b }}"],
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            ]
        }

    </script>
    <!---->
    {{ super() }}

    <script type="text/javascript">
        /* <![CDATA[ */
        var evaluationTask;
        window.onload = function () {
            evaluationTask = new PairwiseTask(config);
        };
        /* ]]> */
    </script>
{% endblock scripts %}